.venv/
__pycache__/
*.py[cod]
.pytest_cache/
# Ignore artifact files, but keep DVC pointers trackable by Git
artifacts/*
!artifacts/**/
!artifacts/**/*.dvc
*.egg-info/
/returns_dataset.csv
mlruns/
mlartifacts/
mlflow.db
*.db-journal